* {
    margin: 0px;
    padding: 0px;
  }
.background_image1{
    /* margin-left: 45px; */
    background-image: url(Photos/Untitled\ design.jpg);
    background-repeat: no-repeat;
    width: 1535px;
    height: 657px;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;  
    /* margin-left: -3px; */
    margin-top: 45px;   
}
.s1{
    width: 1000px;
    height: 520px;
    border-radius: 20px;
    /* line-height: 100px; */
    border: 2px solid white;
    /* padding: 100px; */
    /* margin-left: 270px; */
    margin-top: 65px;
}  
.second1{
    margin-top: 80px;
    margin-left: 80px;
    /* height: -10px; */
    width: 1px;
    /* padding: 3px 3px; */
}
.img1{
    margin-left: 40px;
    margin-top: -45px;
    margin-bottom: 30px;
}
.inp1{
    width: 300px;
    height: 33px;
    /* flex-shrink: 0; */
    border: none;
    border-radius: 12px;
    background: rgba(194, 194, 194, 0.06);
    backdrop-filter: blur(20.5px);
    margin: 20px;
    color: #FFF;
    text-align: center;
    font-size:medium;
}
.inp2{
    width: 300px;
    border: none;
    height: 50px;
    color: #FFF;
    /* flex-shrink: 0; */
    border-radius: 12px;
    background: rgba(194, 194, 194, 0.06);
    backdrop-filter: blur(20.5px);
    margin: 10px;
    text-align: center;
    font-size:medium;
    margin-left: 18px;
    margin-bottom: 30px;
}
.btn3{
    width: 270px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
    font-size:larger;
    color: #ffffff;
    margin-left: 35px;
}
.btn3:hover{
    background-color: #ffffff43;    
}
.bol1{
    font-weight: bold;
    margin-left: 650px;
    margin-top: -350px;
    color: #ffffff;
    font-size: 30px;
}
.bol2{
    color: #FFFfff;
    font-family: Inter;
    font-size: 20px; 
    margin-left: 650px;
}
.bol3{
    font-weight: bold;
    margin-left: 650px;
    margin-top: 5px;
    color: #ffffff;
    font-size: 30px;
}
.bol4{
    color: #FFFfff;
    font-family: Inter;
    font-size: 20px; 
    margin-left: 650px;
}
.bol5{
    font-weight: bold;
    margin-left: 650px;
    margin-top: 5px;
    color: #ffffff;
    font-size: 30px;
}
.bol6{
    color: #FFFfff;
    font-family: Inter;
    font-size: 20px; 
    margin-left: 650px;
}