*{
    padding: 0;
    margin: 0;
}
body{

    background-color: #ffffff;
}
.mid{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-main{
    /* width: 100%; */
    margin: 30px 50px 30px 50px;
    display: flex;
}
.card{
    max-width: 270px;
    height: 24rem;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 14px;
   
}
.card img{
    height: 250px;
}
.center{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price{
    margin: 35px 40px;
}
.atc{
    margin-left: 25px;
    background-color: #ffffff;
    padding: 5px;
}